<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>

    <!-- INPUT FORM -->
    <form action="/workouts/<%=workout.id%>?_method=PUT" method="POST">
        <label for="date">DATE:</label>
        <input type="text" name="date" value="<%=workout.date%>" />
        <label for="activity">ACTIVITY:</label>
        <input type="text" name="activity" value="<%=workout.activity%>" />
        <label for="type">TYPE:</label>
        <input type="text" name="type" value="<%=workout.type%>" />
        <label for="weight">CURRENT WEIGHT:</label>
        <input type="text" name="weight" value="<%=workout.weight%>" />
        <label for="time">TIME:</label>
        <input type="text" name="time" value="<%=workout.time%>" />

        <br />
        <input type="submit" value="SUBMIT">
      </form>
      <button type="button" name="button">
        <a href="/workouts">BACK</a>
      </button>


  </body>
</html>
