<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.html.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.html.ejs') %>
    </nav><br />

    <!-- INPUT FORM -->
    <div class="container">
      <form action="/workouts/<%=workout.id%>?_method=PUT" method="POST">
        <fieldset class="edit-info">
          <label for="date">DATE:</label>
          <input type="text" name="date" value="<%=workout.date%>" />
          <label for="activity">ACTIVITY:</label>
          <input type="text" name="activity" value="<%=workout.activity%>" />
          <label for="type">TYPE:</label>
          <input type="text" name="type" value="<%=workout.type%>" />
          <label for="weight">CURRENT WEIGHT:</label>
          <input type="text" name="weight" value="<%=workout.weight%>" />
          <label for="time">TIME:</label>
          <input type="text" name="time" value="<%=workout.time%>" />

          <br />
          <input type="submit" value="SUBMIT">
        </fieldset>
        </form>
        <button type="button" name="button">
          <a href="/workouts">BACK</a>
        </button>
    </div>

    <!-- FOOTER -->
    <footer class="page-footer">
    <%- include('../partials/footer.html.ejs') %>
    </footer>

  </body>
</html>
