<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav><br />

    <!-- MAIN STATIC STUFF -->

    <!-- ENTRIES -->
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity</th>
          <th scope="col">Time Spent Exercising</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < workouts.length; i++) { %>
          <tr>
            <td><%= workouts[i].date %></td>
            <td><a href="/workouts/<%= workouts[i]._id %>"><%= workouts[i].activity %></a></td>
            <td><%= workouts[i].time %></td>
          </tr>
          <% } %>
        </tbody>
      </table>

    </div>

  </body>
</html>
