<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav><br />
  <div class="container">
    <!-- MAIN STATIC STUFF  -->
    <div class="d-flex flex-row justify-content-around workout-types">
      <div class="p-2 bd-highlight cardio">CARDIO/ENDURANCE TRAINING<br/>
        <img src='https://i.ibb.co/mq2m6YF/Autumn-Cardio.jpg'>
      </div>
      <div class="p-2 bd-highlight strength">STRENGTH TRAINING<br/>
        <img src='https://i.ibb.co/s9KnZWd/Autumn-Lifting.jpg'>
      </div>
      <div class="p-2 bd-highlight static">STATIC STRETCHING<br/>
        <img src='https://i.ibb.co/TLYFqrH/Autumn-Yoga.jpg'>
      </div>
    </div>

    <!-- ENTRIES -->
      WORKOUT TRACKER
      <table class="table table-bordered">
        <thead>
          <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity</th>
          <th scope="col">Time Spent Exercising</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < workouts.length; i++) { %>
          <tr>
            <td><%= workouts[i].date %></td>
            <td><a href="/workouts/<%= workouts[i]._id %>"><%= workouts[i].activity %></a></td>
            <td><%= workouts[i].time %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!-- FOOTER -->
    <footer>
    <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
