<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav><br />

    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary calories-button" style="background-color: black" data-toggle="modal" data-target="#staticBackdrop">
    🥊CLICK ME🥊
  </button>

    <main class="show-workout">
    <h1><%=workout.activity%></h1>
    <h5>DATE:</h5>
    <h6><%=workout.date%></h6>
    <h5>ACTIVITY:</h5>
    <h6><%=workout.activity%></h6>
    <h5>TYPE:</h5>
    <h6><%=workout.type%></h6>
    <h5>YOUR WEIGHT:</h5>
    <h6><%=workout.weight%> lbs</h6>
    <h5>TIME EXERCISED:</h5>
    <h6><%=workout.time%> mins</h6>
    <h5>CALORIES BURNED:</h5>
  <h6>
    <%
    const convertLbs = () => {
      let kg = workout.weight / 2.20462
      return kg
    }

    const calculateCaloriesBurned = () =>{
      let caloriesBurned = 0
      if (workout.type === 'cardio'){
        caloriesBurned += Math.floor(((workout.time * (7 * 3.5 * convertLbs())) / 200))%>
        <%=caloriesBurned%>
      <% } else if (workout.type === 'strength training'){
        caloriesBurned += Math.floor(((workout.time * (6 * 3.5 * convertLbs())) / 200))%>
        <%=caloriesBurned%>
      <% } else if (workout.type === 'flexibility training'){
        caloriesBurned += Math.floor(((workout.time * (3 * 3.5 *convertLbs())) / 200))%>
        <%=caloriesBurned%>
      <% } else {
        console.log('Sorry, calories burned cannot be calculated')
     }
    }
    calculateCaloriesBurned()
    %>


  </h6>
    <br /><br />
    <button type="button" name="button"><a href="/workouts/<%=workout._id%>/edit">EDIT</a></button><br /><br />
    <form action="/workouts/<%=workout._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
  </main>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Calories Burned</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The calories burned calculation relies on a key value known as MET, or metabolic equivalent. Activties are assigned different values based on their intensity. The MET value of an activity times your weight will give you the amount of calories burned per hour. Please note this calculation does not account for an individual's basal metabolic rate (BMR).
      </div>
    </div>
  </div>
</div>


  <!-- FOOTER -->
  <footer class="page-footer">
  <%- include('../partials/footer.ejs') %>
  </footer>

  </body>
</html>
