<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav><br />

    <main class="show-workout">
    <h1><%=workout.activity%></h1>
    <h5>date:</h5>
    <h6><%=workout.date%></h6>
    <h5>activity:</h5>
    <h6><%=workout.activity%></h6>
    <h5>type:</h5>
    <h6><%=workout.type%></h6>
    <h5>your weight:</h5>
    <h6><%=workout.weight%></h6>
    <h5>time exercised (in minutes):</h5>
    <h6><%=workout.time%></h6>
    <br /><br />
    <button type="button" name="button"><a href="/workouts/<%=workout._id%>/edit">EDIT</a></button><br /><br />
    <form action="/workouts/<%=workout._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
  </main>

  <!-- FOOTER -->
  <footer class="page-footer">
  <%- include('../partials/footer.ejs') %>
  </footer>

  </body>
</html>
